
html {
    background-color: rgb(255, 255, 255);
}

header {
    margin: 15vh 0;
}

.navbar {
    color: #333333;
}

.navbar .menu ul li a {
    text-shadow: none;
}

.menu ul li a {
    color: #333333;
}

h1, h2, h3, h4 {
    font-family: 'CircularStd';
}

h1 {
    font-size: 2em;
    margin-bottom: 1.5em;
    color: #333333;
    text-align: center;
}

h2 {
    font-size: 1.6em;
    margin: 0.3em;
    color: #191919;
    text-align: center;
}

h3 {
    margin: 0;
    text-align: center;
    color: #383838;
}

.bodyWrapper {
    font-family: 'Kano';
    color: var(--text-color);
    padding: 1em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 25em;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(51, 51, 51, .2);
    /* padding: 2.5em; */
    border-radius: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentHeader {
    padding: 2.5em;
    background-color: #1C2E38;
    color: white;
    border-radius: 16px 16px 0 0;
}

.contentHeader h2 {
    color: white;
}

.contentHeader p {
    text-align: center;
}

.contentHeader p a {
    color: white;
    text-decoration: none;
}

#portrait {
    width: 14em;
    margin-bottom: -1px;
    z-index: -1;
}

.description {
    text-align: center;
}

.technologies {
    margin-top: 2.5em;
}

.technologies section{
    margin: 1em 0;
}

.techIcons, .langIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.techIcon {
    height: 2em;
    margin: 1em 0.5em 0.4em;
}

.langIcon {
    height: 1.2em;
    margin: 1em 0.5em 0.4em;
    box-shadow: 0px 0px 4px rgba(28, 46, 56, 0.274);
}

#spring {
    height: 1.2em;
}

.contactWrapper {
    margin-top: 2.5em;
    padding-bottom: 2.5em;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact a {
    text-decoration: none;
    color: #1C2E38;
    margin: 1em;
}

.contact a:hover {
    transform: scale(1.1);
}

.infoElement {
    font-family: 'Kano';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoElement img {
    height: 1.2em;
    margin: 0 0.5em 0.4em;
}

#mailImg, #cvImg {
    height: 1.4em;
}

footer {
    color: black;
}

@media(min-width: 1200px) {}

@media(max-width: 786px) {
}

@media(max-width: 14em) {
    #portrait {
        width: 80vw;
    }
}

@media(max-width: 390px) {
    .bodyWrapper {
        padding: 0;
    }
    .contentHeader {
        border-radius: 0;
        padding: 1em;
    }

    .content {
        border-radius: 0;
    }
}