:root {
    --main-background-color: #202020;
    --text-color: white;
    --secondary-text-color: #dbdbdb;
    --color-guay: #0E6D80;
}

html {
    background-color: #EBE7E6;
}

header {
    margin: 15vh 0;
}

.navbar {
    color: #333333;
}

.navbar .menu ul li a {
    text-shadow: none;
}
.menu ul li a {
    color: #333333;
}

h1,h2,h3 {
    font-family: 'CircularStd';
}

h1 {
    font-size: 2em;
    margin-bottom: 1.5em;
    color: #333333;
    text-align: center;
}

h2 {
    font-size: 1.6em;
    margin-top: 0.3em;
    color: #EBE7E6;
    text-align:  center;
}

h3 {
    margin: 0;
    text-align:  center;
}



.bodyWrapper {
    font-family: 'Kano';
    color: var(--text-color);
    padding: 1em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 20em;
    color: #EBE7E6;
    background-color: #1C2E38;
    border-radius: 10px;
    padding: 2.5em;
    margin: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portrait {
    width: 14em;
    margin-bottom: -1px;
}

.description{
    text-align: center;
}

.contactWrapper {
    margin-top: 2em;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact a {
    text-decoration: none;
    color: white;
}

.infoElement {
    font-family: 'Kano';
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoElement img{
    height: 1.2em;
    margin: 0 0.5em;
}

#mailImg, #cvImg {
    height: 1.4em;
}


footer {
    color: black;
}


@media(min-width: 1200px) {
}

@media(max-width: 786px) {
    .content{
        padding: 2.5em;
    }
}


@media(max-width: 14em) {
    #portrait {
        width: 80vw;
    }
}