:root {
    --main-background-color: rgb(32, 32, 32);
    --text-color: white;
    --secondary-text-color: #dbdbdb;
}

html {
    background-color: var(--main-background-color);
}

header {
    margin: 15vh;
}

.content {
    font-family: 'Kano';
    background-color: var(--main-background-color);
    color: var(--text-color);
    padding: 2.5em;
    font-size: 1.2em;
    
}

.photosWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.title{
    font-family: 'CircularStd';
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
    color: var(--text-color);
}

.description{
    text-align: center;
}

.imageCard {
    width: 16em;
    margin: 1em;
    padding: 1em;
    padding-bottom: 0;
    box-shadow: 0px 0px 8px rgba(32, 32, 32, 0.425);
    border-radius: 3px;
    background-color: #3b3b3b;
    color: var(--text-color);
}

.imageCard img {
    width: 100%;
    border-radius: 3px;
}

.cardDescription {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mapMarker {
    height: 1em;
    width: 1em;
    margin-right: 0.2em;
}

.videoCard {
    padding: 0.6em;
    margin: 3em 1em;
    background-color: #3b3b3b;
    box-shadow: 0px 0px 8px rgba(32, 32, 32, 0.425);
    border-radius: 3px;
    color: var(--text-color);
}

.videoCard video{
    width: 37.5em;
    border-radius: 3px;
}

.photoLocation{
    color: var(--secondary-text-color);
}


@media(min-width: 1200px) {
    .content {
        padding: 2.5em 15vw;
    }
}

@media(max-width: 786px) {
    .videoCard video{
        width: 80vw;
    }

    .imageCard {
        margin: 2em 1em;
    }
    
}

@media(max-width: 330px) {
    .photoLocation{
        font-size: 0.7em;
    }

    .mapMarker {
        margin-right: 0.4em;
    }

}