:root {
    --main-background-color: rgb(32, 32, 32);
    --text-color: white;
    --secondary-text-color: #dbdbdb;
    --color-guay: #0E6D80;
}

html {
    background-color: var(--main-background-color);
}

header {
    margin: 15vh;
}

footer {
    text-align: center;
    font-family: 'Kano';
    color: var(--text-color);
    margin: 15vh 0 10vh 0;
}

footer p .year {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

.navbar.black{
    background:  rgb(43, 43, 43);
    color: #ffffff;
    border: none;
    box-shadow: 0px 0px 8px rgb(26, 26, 26);
}

.navbar.black .menu ul li a {
    color: #ffffff;
    text-shadow: none;
}

.content {
    font-family: 'Kano';
    background-color: var(--main-background-color);
    color: var(--text-color);
    padding: 2.5em;
    font-size: 1.2em;
}

.photosWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.title{
    font-family: 'CircularStd';
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
    color: var(--text-color);
}

.description{
    text-align: center;
}

.imageCard {
    width: 16em;
    margin: 1em;
    padding: 1em;
    padding-bottom: 0;
    /* box-shadow: 0px 0px 8px rgba(32, 32, 32, 0.425); */
    box-shadow: 0px 0px 8px rgb(26, 26, 26);
    border-radius: 3px;
    /* background-color: #3b3b3b; */
    background-color: rgb(43, 43, 43);
    color: var(--text-color);
}

.imageCard img {
    width: 100%;
    border-radius: 3px;
}

.cardDescription {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mapMarker {
    height: 1em;
    width: 1em;
    margin-right: 0.2em;
}

.videoCard {
    margin: 3em 1em;
    /* background-color: #3b3b3b; */
    
    color: var(--text-color);
}

.videoCard video{
    box-shadow: 0px 0px 20px rgb(17, 17, 17);
    width: 37.8em;
    border-radius: 2px;
}

.photoLocation{
    color: var(--secondary-text-color);
}


@media(min-width: 1200px) {
    .content {
        padding: 2.5em 15vw;
    }
}

@media(max-width: 786px) {
    .videoCard video{
        width: 80vw;
    }

    .imageCard {
        margin: 2em 1em;
    }
    
}

@media(max-width: 330px) {
    .photoLocation{
        font-size: 0.7em;
    }

    .mapMarker {
        margin-right: 0.4em;
    }

}